<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">TodoHQ</a>
      <ul class="nav pull-right">
        {{#if currentSession.isSignedIn}}
          <li>
            <a href="#" {{action "signOut"}}>Sign out {{currentSession.email}}</a>
          </li>
        {{else}}
          <li>{{#linkTo "users.new"}}Create a new Account{{/linkTo}}</li>
          <li>{{#linkTo "sessions.new"}}Sign in{{/linkTo}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</div>

<div class="container" id="main">
  {{outlet}}
</div>
