@import "bootstrap";
@import "jquery-ui";

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin, .task-list {
  padding: 20px 30px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.form-signin {
  max-width: 400px;
  padding-bottom: 30px;

  .form-signin-heading {
    margin-bottom: 10px;
  }
}


.task-list {
  ul {
    list-style: none;
    margin: 10px 0 0 0;
    li {
      padding: 8px;
      line-height: 20px;
      border-top: 1px solid #dddddd;

      .action {
        float: right;
        margin-left: 8px;
      }
      .label {
        font-weight: normal;
        margin-right: 3px;
      }
      .priority-top {
        font-weight: bold;
        color: red;
      }
      .priority-high {
        font-weight: bold;
      }
      .priority-low {
        color: #b3b3b3;
      }
      .done {
        text-decoration: line-through;
      }
    }
    li:hover {
      background-color: #ffffbe;
    }
  }
  form {
    margin: 0;
  }
  input[type=checkbox] {
    float: left;
    margin-right: 12px;
  }
}

.loader {
  margin: 20px auto;
  display: block;
}
.loader.hide {
  display: none;
}
